<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="<%= test[pos].photos[0].url %>" height="400" width="400"></br>
    <%= test[pos].name %><br>
      Distance: <%= test[pos].distance_mi %></br>
      Last online: <%= test[pos].ping_time %></br>
      Age: <%= test[pos].birth_date %></br>
      ID: <%= test[pos]._id %></br>
      Bio: <%= test[pos].bio %></br>
      Like | Pass </br>
      <a href = "/">Back</a>

  </body>
</html>
