<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TinderDB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="../styles.css">

  <%- include ../views/partials/_header.ejs %>

</head>
<body>
  <div class="container-fluid container brd">
    <div class="row">
      <div class="col-sm-12 col-md-12 brd">
        <a href = "/"> << Go Back</a>
      </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 brd box">
        <img class='profile-img' src="<%= test[pos].photos[0].url %>">
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 brd box">
          <form method="post" action="/">
            <input type="hidden" name='pass' value="<%= test[pos].id %>">
            <input type="submit" value="x">
          </form>
        </div>
        <div class="col-sm-6 col-md-6 brd box">
          <form method="post" action="/">
            <input type="hidden" name='like' value="<%= test[pos].id %>">
            <input type="submit" value="<3">
          </form>
        </div>
    </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 brd">
          <%= test[pos].name %><br>
          Distance: <%= test[pos].distance_mi %> miles away.</br>
          Last activity: <%= test[pos].ping_time %></br>
          Age: <%= test[pos].age %></br>
          Bio: <%= test[pos].bio %></br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 brd">
          Photos:
        </div>
      </div>
      <div class="row">
        <% Object.keys(test[pos].photos).forEach(function(key) {%>
          <div class="col-sm-4 col-md-4 brd">
            <img class=".profile-gallery" src="<%= test[pos].photos[key].url%>"><br>
          </div>
          <% }); %>
      </div>
    </div>
  </div>

</body>

</html>
